@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

main {
  color: white;
}
