@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-overlay: rgba(46, 52, 62, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.48);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

main {
  color: white;
}

.app {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.weatherIcon {
  width: 3rem;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--background-overlay);
  display: flex;
  justify-content: center;
}

/* .container {
  margin-top: 4rem;
  max-width: 75%;
} */

.section {
  background-color: var(--section-overlay);
  border-radius: 0.5rem;
}

.section__temp {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
